@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;    
}
.container{    
    font-size: 1rem;     
    text-align: center;

 }
 .progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom:30px;
    max-width: 100%;
    width:450px;
}


.progress-1{
    border:4px solid #dadada;
    position:absolute;
    top:50%;
    width: 100%;    
    z-index: -1;
    transform: translateY(-50%);/*確認用法*/
    transition: 0.4s ease;
}
.progress-container::before{
    content:'';
    background-color: #dadada;
    height: 4px;
    top:50%;
    left:0;
    transform: translateY(-50%);
    position:absolute;
    width: 100%;
    z-index: -1;
    
}

.progress{
    background-color: #3498db;
    height: 4px;
    top:50%;
    left:0;
    transform: translateY(-50%);
    position:absolute;
    width: 0%;
    transition: 0.4s ease;
    z-index: -1;
}
.circle{
    border:3px solid  #dadada;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    transition: 0.4 ease;
}
.circle.active{
    border-color:#3498db;
}